/*ESTILO GLOBAL*/
*{
    font-family: ubuntu;   
}

.fondoBlack{
    background-color: black;
}

h6{
    color: rgb(65, 65, 65);
}

.home{
    font-weight: bold;
}

footer{
    font-size: 15px;
    font-weight: bold;
}

.iconFooter{
    font-size: 30px;
    margin-inline: 6px;
}

/*IMAGENES*/
#imgLogo{
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.imgIntro{
    position: relative;
    top: 0;
    left: 0;
    right: 0;

    height: 60%;
    object-fit: cover;
}


/*CARRITO*/
.borrar_producto{
    background-color: rgb(165, 19, 19);
    color: white;
}

.card:hover{
    box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
    transition: 0.5s;
}


.formContacto{
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.productosTabla{
    display: flex;
}

.productosTabla img{
    width: 7rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 18px;
}

.cantidadTabla input{
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}

/* Otros estilos */

.bi-instagram:hover{
    color:green;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.bi-whatsapp:hover{
    color:green;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.bi-facebook:hover{
    color:green;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.moyanogdev{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.moyanogdev:hover{
    color: green;
    transition: .4s ease-in-out;
}